.contenedor-tarjetas {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;
  padding: 24px;
}

@media (max-width: 900px) {
  .contenedor-tarjetas {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 500px) {
  .contenedor-tarjetas {
    grid-template-columns: 1fr;
  }
}